/*2022-11-21 5:44:48 PM*/
@charset "UTF-8";
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  position: relative;
}

html {
  font-size: 14px;
}

button,
input,
select,
textarea {
  border-radius: 0;
  border: none;
  background: 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-text-size-adjust: none;
}

button {
  cursor: pointer;
}

label {
  cursor: pointer;
}

fieldset,
img {
  border: 0;
}

ol,
ul {
  list-style: none;
}

address,
em {
  font-style: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-text-size-adjust: none;
}

.u_skip {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.u_skip::before {
  display: block;
  width: 0;
  height: 0;
  content: '\00a0';
  font-size: 0;
}

.footer_list .footer_logo,
.header_logo .logo {
  display: inline-block;
  margin-top: 0;
  vertical-align: top;
  background-position: 0 51px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, helvetica,
    'Apple SD Gothic Neo', sans-serif;
  font-size: 1rem;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.whole_white {
  background-color: #fff;
}

.wrap {
  position: relative;
  height: 100%;
}

.header {
  position: relative;
}

.header_logo {
  padding: 62px 0 24px;
  box-sizing: border-box;
  text-align: center;
}

.header_logo .logo {
  display: inline-block;
  vertical-align: top;
  background-position: 0 -32px;
  background-repeat: no-repeat;
  width: 125px;
  height: 24px;
}

@media all and (min-width: 768px) {
  .header_logo {
    padding: 108px 0 20px;
  }

  .header_logo .logo {
    background-image: url(https://ssl.pstatic.net/static/nid/identify/m_sp_00_common_347a7059.png);
    background-size: 155px 89px;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 155px;
    height: 30px;
  }
}

.header_inner {
  position: relative;
  min-height: 62px;
  padding: 21px 0;
  box-sizing: border-box;
}

@media all and (min-width: 768px) {
  .header_inner {
    width: 500px;
    margin: 0 auto;
  }
}

.footer {
  padding: 60px 0 27px;
  text-align: center;
}

.footer_inner {
  padding: 0 20px;
  box-sizing: border-box;
}

@media all and (min-width: 768px) {
  .footer_inner {
    width: 500px;
    margin: 0 auto;
  }
}

.footer_list li {
  display: inline-block;
}

.footer_list li + li {
  position: relative;
  margin-left: 13px;
}

.footer_list li + li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -9px;
  width: 1px;
  height: 11px;
  margin-top: -6px;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0.52;
}

.footer_list .footer_logo {
  display: inline-block;
  background-position: 0 -58px;
  background-repeat: no-repeat;
  width: 56px;
  height: 11px;
}

.footer_list .footer_text {
  font-size: 13px;
  letter-spacing: -0.5px;
  color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  word-break: keep-all;
}

.find_wrap .find_inner {
  padding: 0 20px;
  box-sizing: border-box;
}

@media all and (min-width: 768px) {
  .find_wrap .find_inner {
    width: 500px;
    margin: 0 auto;
  }
}

.find_wrap .title_wrap {
  padding-bottom: 30px;
  text-align: center;
}

@media all and (min-width: 768px) {
  .find_wrap .title_wrap {
    padding-bottom: 40px;
  }
}

.find_wrap .title_wrap .title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #1e1e23;
}

@media all and (min-width: 768px) {
  .find_wrap .title_wrap .title {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.33px;
  }

  .find_wrap .title_wrap .title br {
    display: none;
  }
}

.find_id_list li {
  display: block;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #09aa5c;
  box-sizing: border-box;
}

.find_id_list li + li {
  margin-top: 14px;
}

.find_id_list .id_item {
  position: relative;
  display: block;
  width: 100%;
  padding: 20px 0 19px 50px;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: left;
}

.find_id_list .id_item .tip_text {
  display: none;
}

@media all and (min-width: 768px) {
  .find_id_list .id_item .tip_text.pc_tip {
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
  }

  .find_id_list .id_item .tip_text.pc_tip .tip_help {
    position: relative;
    z-index: 10;
  }
}

.find_id_list .id_text {
  display: block;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  letter-spacing: -0.2px;
  color: #303038;
}

@media all and (min-width: 768px) {
  .find_id_list .id_text {
    display: inline-block;
  }
}

.find_id_list .icon_group,
.find_id_list .icon_id,
.find_id_list .icon_login_only {
  position: absolute;
  top: 14px;
  left: 11px;
  background-position: -32px -32px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.find_id_list .icon_login_only {
  background-position: -32px 0;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.find_id_list .icon_group {
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.input_row {
  position: relative;
  display: block;
  padding: 16px 17px 14px 50px;
  border-radius: 6px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #bbbbbd;
  background-color: #fff;
  box-sizing: border-box;
  text-align: left;
}

.input_row.focus::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  left: -1px;
  bottom: -1px;
  border: 1px solid #166cea;
  border-radius: 6px;
  z-index: 3;
}

.input_row.delete {
  padding-right: 40px;
}

.input_row .bullet_delete {
  display: none;
  position: absolute;
  top: 17px;
  right: 17px;
  background-position: -64px 0;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  z-index: 6;
}

.input_name {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.8px;
  color: #303038;
  box-sizing: border-box;
  z-index: 5;
}

::-webkit-input-placeholder {
  color: #929294;
}

input[type='text']::-webkit-input-placeholder {
  color: #929294;
}

.link_wrap {
  margin-top: 40px;
  text-align: center;
}

.link_wrap .text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #929294;
}

.link_wrap .text .link {
  display: inline-block;
  padding-left: 5px;
}

.link_wrap .text .link .txt {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #166cea;
  white-space: nowrap;
  word-break: keep-all;
}

.int-area {
  width: 400px;
  position: relative;
}
.int-area input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 18px;
  color: #000;
  outline: none;
}
.int-area label {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 18px;
  color: #999;
  transition: all 0.5s ease;
}

.btn_check {
  margin-top: 25px;
  width: 100%;
  height: 50px;
  background: #166cea;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.btn_check .text {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.tip_wrap {
  padding-top: 12px;
}

@media all and (min-width: 768px) {
  .tip_wrap.pc_tip {
    display: none;
  }
}

.tip_wrap li {
  position: relative;
  padding-left: 8px;
}

.tip_wrap li::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #888;
}

.tip_text {
  font-size: 13px;
  line-height: 17px;
  letter-spacing: -0.3px;
  color: #929294;
}

.tip_help {
  display: inline-block;
  padding-left: 7px;
  color: #929294;
  text-decoration: underline;
}

.tip_help .text {
  font-size: 13px;
  line-height: 17px;
  letter-spacing: -0.3px;
  white-space: nowrap;
  word-break: keep-all;
}
.int-area {
  width: 400px;
  position: relative;
}
.int-area input {
  width: 100%;
  padding: 50px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 18px;
  color: #000;
  outline: none;
}
